.titulo{ 
    background-color: rgb(184, 46, 46);
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;
}

.foto{ 
    width: 150px;
    height: 150px;
    top: 35px;
    left: 35px;
    position: absolute;
    background-size: auto;
    background: url(../imatges/cara.jpeg);
    background-repeat: repeat;
}

.ejercicios{
    background-color: orange;
    width: 10%;
    height: 100%;
    text-align: center
}

.texto{
    background-color: burlywood;
    width: 60%;
    height: 343px;
    position: absolute;
    top: 220px;
    left: 190px;
    color: purple;
}

.final{ 
    background-color: royalblue;
    width: 100%;
    height: 225px;
    text-align: center;
    background-size: auto;
    background: url(../imatges/validador_index.png);
    background-repeat: repeat;
}

.banner{
    width: 34.5%;
    height: 343px;
    position: absolute;
    top: 220px;
    left: 1250px;
    background-size: auto;
    background: url(../imatges/corazonmamadisimo.jpg);
    background-repeat: repeat;
}