table,td,tr{
    border: 2px solid black;
    border-collapse: collapse;
}

.imagen{
width: 500px;
height: 700px;
}

.video{
    width: 1000px;
    height: 500px;
}

p{
    font-size: 50px;
}

h1{
    font-size: 50px;
}