table,td,tr{
    border: 2px solid black;
    border-collapse: collapse;
}

.imagen{
width: 1000px;
height: 1400px;
}

.video{
    width: 2000px;
    height: 1000px;
}

p{
    font-size: 100px;
}

h1{
    font-size: 100px;
}