table,td,tr{
    border: 2px solid black;
    border-collapse: collapse;
}

#centrado{
    text-align: center;
}

.negsub{
    font-weight: bold;
    text-decoration: underline;
}


.m08{
    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace
}

.m10EIE{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.tutoria{
    background-color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.m06{
    background-color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.m04{
    background-color: crimson;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.m07{
    background-color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif
}