table,td,tr{
    border: 2px solid black;
    border-collapse: collapse;
}

#centrado{
    text-align: center;
}

#negsub{
    font-weight: bold;
    text-decoration: underline;
}


#m08{
    color: blue;
    font-family: 'Courier New', Courier, monospace
}

#m10EIE{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
