body{
    width: 830px;
    background-color: #fef2cd;
}




section{
    border: 5px solid black;
    display: grid;
    width: 800px;
    grid-template-columns: 20% 60% 20%;
    margin-left: 10px;
    margin-bottom: 5px;
}

#izquierda{
    grid-column-start: 1;
}

#centro{
    grid-column-start: 2;
}

#derecha{
    grid-column-start: 3;
}

#gif{
    width: 440px;
    height: 400px;
    margin-bottom: 20px;
}